# Python cache
__pycache__*

# Visual Studio related files, e.g., ".vscode"
.vs*
*.code-workspace

# Misc. files at repository root:
# - default data cache directory
/data_cache
# - results
/_*results*
/*.json
/*.xlsx
# - scripts
/*.ipynb
/*.py
/*.sh
# - archives with results or data
/*.tgz

# Configurations from file explorers
.directory
.DS_Store
