# essentials
scikit-learn==1.4.*
pandas
tabulate
fastparquet
openpyxl
tqdm
psutil
requests
py-cpuinfo
# additional frameworks
xgboost
catboost
lightgbm
scikit-learn-intelex
# oneapi components
dpctl
dpnp
